<!DOCTYPE html>
<html>
	<head></head>
	<body>
		<form action="/" method="POST">
			<input name="tag" value="{{ .Keyword }}"/>
			<input type="submit" />
		</form>
		<div>
			{{ range .Offers }}
			<a href="{{ .URL }}">
				<div style="display: inline-block; width: 300px; height: 300px;">
					<div>{{ .ProductName }}</div>
					<img src="{{ .ProductImageUrl }}" width="200" height="200"><br />
					{{ .PriceMerchant }} | {{ .PriceRetail }}
				</div>
			</a>
			{{ else }}
				Search for a keyword!
			{{ end }}
		</div>
	</body>
</html>
